<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="md-medkit"></ion-icon> Medicaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="this.medications">
    <ion-card *ngFor="let item of this.medications">
      <ion-card-header>
        Tomar {{item.quantity}} de {{item.name}}  
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item [hidden]="!item.next">
            Próxima: {{item.next | date: 'dd/MM/yyyy HH:mm:ss'}}
          </ion-item>
          <ion-item [hidden]="!item.previous">
            Anterior: {{item.previous | date: 'dd/MM/yyyy HH:mm:ss'}}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>    

  </div>
</ion-content>
