page-messages {
  .patient {
    padding-left: 40%;

    ion-card {
      background: #dcf8c6;
    }
  }

  .professional {
    padding-right: 40%;

    ion-card {
      background: #EEE;
    }
  }

}
