page-notifications {
  .input-wrapper {
    display: none;
  }
  .notification-date {
    color: #BBB;
    font-style: italic;
    font-size: 0.8em;
  }

  .unread {
    background: color($colors, light, base);
  }
}
